@{
    var userName = Context.Session.GetString("Name");
    var LogoPath = Context.Session.GetString("LogoPath");
    var DarkLogoPath = Context.Session.GetString("DarkLogoPath");

    var Address = Context.Session.GetString("Address");
    var PhoneNumber = Context.Session.GetString("PhoneNumber");
    var Email = Context.Session.GetString("Email");

}

<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Sona Template">
    <meta name="keywords" content="Sona, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sona | Template</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cabin:400,500,600,700&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="~/HomeAssest/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="~/HomeAssest/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="~/HomeAssest/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="~/HomeAssest/css/flaticon.css" type="text/css">
    <link rel="stylesheet" href="~/HomeAssest/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="~/HomeAssest/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="~/HomeAssest/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="~/HomeAssest/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="~/HomeAssest/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="~/HomeAssest/css/style.css" type="text/css">
    <link rel="stylesheet" href="~/AdminAssest/assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="~/AdminAssest/assets/vendors/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="~/AdminAssest/assets/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.css" />

</head>
<body>
    <!-- Header Section Begin -->
    <header class="header-section">
       
        <div class="menu-item">
            <div class="container">
                <div class="row">
                    <div class="col-lg-2">
                        <div class="logo">
                            <a href="./index.html">
                                
                                <img src=@($"../Images/Project/Home/{LogoPath}") alt="">
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-10">
                        <div class="nav-menu">
                            <nav class="mainmenu">
                                <ul>
                                    <li class="@Html.IsActive("Home", "Index")"><a asp-action="Index" asp-controller="Home">Home</a></li>
                                    <li class="@Html.IsActive("Home", "Hotels")"><a asp-action="Hotels" asp-controller="Home">Hotels</a></li>
                                    <li class="@Html.IsActive("Home", "AboutUs")"><a asp-action="AboutUs" asp-controller="Home">About Us</a></li>
                                    <li class="@Html.IsActive("Home", "ContactUs")"><a asp-action="ContactUs" asp-controller="Home">Contact Us</a></li>

                                    @if (userName==null)
                                    {
                                        <li><a asp-controller="Account" asp-action="Register">Register</a></li>
                                        <li><a asp-controller="Account" asp-action="Login">Login</a></li>
                                    }
                                    else
                                    {
                                        <li>
                                            <a asp-controller="Home" asp-action="Profile">Profile</a>
                                            <ul class="dropdown">
                                                <li><a asp-controller="Home" asp-action="Profile">Profile Details</a></li>
                                                <li><a asp-controller="Home" asp-action="EditProfile">Edit Profile</a></li>
                                                <li><a asp-action="UserBookings" asp-controller="Home">Booking</a></li>
                                               
                                            </ul>
                                        </li>
                                        <li><a asp-controller="Account" asp-action="Logout">Logout</a></li>
                                    }



                                </ul>
                            </nav>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Header End -->
    @RenderBody()
    <footer class="footer-section">
        <div class="container">
            <div class="footer-text">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="ft-about">
                            <div class="logo">
                                <a asp-action="Index" asp-controller="Home">
                                    <img src=@($"../Images/Project/Home/{DarkLogoPath}") alt="">
                                </a>
                            </div>
                            <p>We inspire and reach millions of travelers<br /> across 90 local websites</p>
                            <div class="fa-social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-tripadvisor"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                                <a href="#"><i class="fa fa-youtube-play"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 offset-lg-1">
                        <div class="ft-contact">
                            <h6>Contact Us</h6>
                            <ul>
                                <li>@PhoneNumber</li>
                                <li>@Email</li>
                                <li>@Address</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 offset-lg-1">
                        <div class="ft-newslatter">
                            <h6>New latest</h6>
                            <p>Get the latest updates and offers.</p>
                            <form action="#" class="fn-form">
                                <input type="text" placeholder="Email">
                                <button type="submit"><i class="fa fa-send"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright-option">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <ul>
                            
                            <li><a asp-action="ContactUs" asp-controller="Home">Contact</a></li>
                            <li><a asp-action="AboutUs" asp-controller="Home">About Us</a></li>
                            <li><a asp-action="Hotels" asp-controller="Home">Our Hotels</a></li>


                            
                        </ul>
                    </div>
                    <div class="col-lg-5">
                        <div class="co-text">
                            <p>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by Floria Booking System
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <partial name="_NotificationsToastr" />

    <script src="~/HomeAssest/js/jquery-3.3.1.min.js"></script>
    <script src="~/HomeAssest/js/bootstrap.min.js"></script>
    <script src="~/HomeAssest/js/jquery.magnific-popup.min.js"></script>
    <script src="~/HomeAssest/js/jquery.nice-select.min.js"></script>
    <script src="~/HomeAssest/js/jquery-ui.min.js"></script>
    <script src="~/HomeAssest/js/jquery.slicknav.js"></script>
    <script src="~/HomeAssest/js/owl.carousel.min.js"></script>
    <script src="~/HomeAssest/js/main.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.js"></script>

</body>
</html>
