@model Tuple<IEnumerable<Hotel>, IEnumerable<Testimonial>,Homedatum>
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
    var userId = Context.Session.GetString("Id");
    IEnumerable<SelectListItem> result;

}
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    $(function () {

        $('#hotelselectlist').change(function () {
            window.location.href = "/Home/Index?hotelId=" + $(this).val();
        })
    });
</script>
<!-- Hero Section Begin -->
<section class="hero-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="hero-text">
                    <h1>@Model.Item3.Title</h1>
                    <p>
                       @Model.Item3.Description
                    </p>
                    <a  class="primary-btn" asp-action="About Us">Discover Now</a>
                </div>
            </div>
            <div class="col-xl-4 col-lg-5 offset-xl-2 offset-lg-1">
                <div class="booking-form">
                    <h3>Booking Your Hotel</h3>
                    <form asp-action="BookRoom" >
                        <input name="source" value="home" hidden>

                        <div class="select-option">
                            <label for="hotel">Hotel:</label>
                            <select name="hotelId" asp-items="ViewBag.HotelNames" id="hotelselectlist">
                                @if(ViewBag.Hotel != null)
                                {
                                    <option value="@ViewBag.Hotel.Hotelid" selected>@ViewBag.Hotel.Name</option>

                                }
                            </select>
                        </div>
                        <div class="select-option">
                            <label for="secondDropdown">Room Type:</label>
                            <select name="roomId" asp-items="ViewBag.RoomsType" id="roomTypes">
                            </select>
                        </div>
                     
                        <div class="check-date">
                            <label for="date-in">Check In:</label>
                            <input type="text" class="date-input" id="date-in" name="checkIn">
                            <i class="icon_calendar"></i>
                        </div>
                        <div class="check-date">
                            <label for="date-out">Check Out:</label>
                            <input type="text" class="date-input" id="date-out" name="checkOut">
                            <i class="icon_calendar"></i>
                        </div>
                        <div class="select-option">
                            <label for="numOfPersons">Number Of Persons:</label>
                            
                            <select name="numOfPersons" id="numOfPersons">
                                <option value="">--Choose an option--</option>
                                <option value="1">1 Person</option>
                                <option value="2">2 Persons</option>
                                <option value="3">3 Persons</option>
                                <option value="4">4 Persons</option>
                                <option value="5">5 Persons</option>
                                <option value="6">6 Persons</option>
                                <option value="7">7 Persons</option>

                            </select>
                        </div>
                        
                        @if (userId != null)
                        {
                            <button type="submit">Book Now</button>
                            <button asp-action="BookRoom" asp-route-payLater="true">Save and pay later</button>


                        }
                        else
                        {
                            <button disabled type="submit">Book Now</button>

                        }
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="hero-slider owl-carousel">
        <div class="hs-item set-bg" data-setbg=@($"../Images/Project/Home/{Model.Item3.Imgpath1}")></div>
        <div class="hs-item set-bg" data-setbg=@($"../Images/Project/Home/{Model.Item3.Imgpath2}")></div>
        <div class="hs-item set-bg" data-setbg=@($"../Images/Project/Home/{Model.Item3.Imgpath3}")></div>
    </div>
</section>
<!-- Hero Section End -->
<!-- About Us Section Begin -->
<section class="aboutus-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="about-text">
                    <div class="section-title">
                        <span>About Us</span>
                        <h2>@ViewBag.AboutUs.Title</h2>
                    </div>
                    <p class="f-para">
                        @ViewBag.AboutUs.Description
                    </p>
                    
                    <a asp-action="AboutUs" class="primary-btn about-btn">Read More</a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about-pic">
                    <div class="row">
                        <div class="col-sm-6">
                            <img src=@($"../Images/Project/AboutUs/{ViewBag.AboutUs.Imgpath3}") alt="">
                        </div>
                        <div class="col-sm-6">
                            <img src=@($"../Images/Project/AboutUs/{ViewBag.AboutUs.Imgpath2}") alt="">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- About Us Section End -->
<!-- Services Section End -->
<section class="services-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <span>What We Do</span>
                    <h2>Discover Our Services</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-sm-6">
                <div class="service-item">
                    <i class="flaticon-036-parking"></i>
                    <h4>Travel Plan</h4>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="service-item">
                    <i class="flaticon-033-dinner"></i>
                    <h4>Catering Service</h4>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="service-item">
                    <i class="flaticon-026-bed"></i>
                    <h4>Babysitting</h4>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="service-item">
                    <i class="flaticon-024-towel"></i>
                    <h4>Laundry</h4>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="service-item">
                    <i class="flaticon-044-clock-1"></i>
                    <h4>Hire Driver</h4>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="service-item">
                    <i class="flaticon-012-cocktail"></i>
                    <h4>Bar & Drink</h4>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Services Section End -->
<!-- Hotel Section Begin -->
<section class="blog-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <span>Hotel News</span>
                    <h2>Our Hotels</h2>
                </div>
            </div>
        </div>
        <div class="row">
            @foreach(var item in Model.Item1){
            <div class="col-lg-4">
                    <div class="blog-item set-bg" data-setbg=@Url.Content("~/Images/Hotel/" + item.Imagepath)>
                    <div class="bi-text">
                        <h4><a asp-action="Rooms" asp-route-hotelId="@item.Hotelid">@item.Name</a></h4>
                            <div class="b-time"><i class="icon_map_alt"></i>@item.Address</div>
                    </div>
                </div>
            </div>
            }
            
        </div>
        <div class="col-lg-12">
            <div class="room-pagination">
                <a asp-action="Index" asp-route-pageNumber="1">1</a>
                <a asp-action="Index" asp-route-pageNumber="2">2</a>
                <a asp-action="Hotels" >See All</a>

            </div>
        </div>
    </div>
</section>
<!-- Testimonial Section Begin -->
<section class="testimonial-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <span>Testimonials</span>
                    <h2>What Customers Say?</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <div class="testimonial-slider owl-carousel">
                    @foreach(var item in Model.Item2)
                    {
                        <div class="ts-item">
                            <p>
                                @item.Reviewtext
                            </p>
                            <div class="ti-author">
                                <div class="rating">
                                    @for (int i = 1; i <= item.Rating; i++)
                                    {
                                        <i class="mdi mdi-star"></i>
                                    }
                                    @for (int i = 1; i <= (5 - item.Rating); i++)
                                    {
                                        <i class="mdi mdi-star-outline"></i>
                                    }
                                </div>
                                <h5> - @item.Customer.Firstname</h5>
                            </div>
                            <img src="~/HomeAssest/img/testimonial-logo.png" alt="">
                        </div>

                    }
                    
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Testimonial Section End -->
