@model BookingSystem.Models.Room

@{
    ViewData["Title"] = "RoomDetails";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
    var userId = Context.Session.GetString("Id");

}
<style>
    .rating {
        float: left;
        border: none;
    }

        .rating:not(:checked) > input {
            position: absolute;
            top: -9999px;
            clip: rect(0, 0, 0, 0);
        }

        .rating:not(:checked) > label {
            float: right;
            width: 1em;
            padding: 0 .1em;
            overflow: hidden;
            white-space: nowrap;
            cursor: pointer;
            font-size: 200%;
            line-height: 1.2;
            color: #ddd;
        }

            .rating:not(:checked) > label:before {
                content: '★ ';
            }

        .rating > input:checked ~ label {
            color: #f70;
        }

        .rating:not(:checked) > label:hover, .rating:not(:checked) > label:hover ~ label {
            color: gold;
        }

        .rating > input:checked + label:hover, .rating > input:checked + label:hover ~ label, .rating > input:checked ~ label:hover, .rating > input:checked ~ label:hover ~ label, .rating > label:hover ~ input:checked ~ label {
            color: #ea0;
        }

        .rating > label:active {
            position: relative;
        }
</style>


<!-- Breadcrumb Section Begin -->
<div class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-text">
                    <h2>Our Rooms</h2>
                    <div class="bt-option">
                        <a href="./home.html">Home</a>
                        <span>Rooms</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb Section End -->
<!-- Room Details Section Begin -->
<section class="room-details-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="room-details-item">
                    <img src="~/HomeAssest/img/room/room-details.jpg" alt="">
                    <div class="rd-text">
                        <div class="rd-title">
                            <h3>@Model.Roomtype</h3>
                           
                        </div>
                        <h2>@Model.Price JOD<span>/Pernight</span></h2>
                        
                        <p class="f-para">
                            @Model.Description
                        </p>
                      
                    </div>
                </div>
                @if (ViewBag.Testimonials.Count != 0)
                {

                <div class="rd-reviews" >
                    <h4>Testimonials</h4>
                   
                   
                    @foreach (var item in ViewBag.Testimonials)
                    {
                        <div class="review-item">
                            <div class="ri-pic">
                                <img src="~/HomeAssest/img/room/avatar/avatar-1.jpg" alt="">
                            </div>
                            <div class="ri-text">
                                <span>@item.TDate</span>
                                <div class="rating">
                                    @for(int i=1; i<=item.Rating; i++)
                                        {
                                            <i class="mdi mdi-star"></i>
                                        }
                                        @for (int i = 1; i <= (5-item.Rating); i++)
                                        {
                                            <i class="mdi mdi-star-outline"></i>
                                        }

                                        
                                       
                                   
                                </div>
                                <h5>@item.Customer.Firstname</h5>
                                <p>
                                    @item.Reviewtext
                                </p>
                            </div>
                        </div>

                    }
                    
                    </div>
                }
                @* only if login note *@
                <div class="review-add" >
                    <h4>Add Review</h4>
                    <form asp-action="AddTestimony" class="ra-form">
                        <div class="row">
                            <input name="roomId" value="@Model.Roomid" hidden>

                            <div class="col-lg-12">
                                <div class="row align-items-center">
                                    <h5>Your Rating:</h5>
                                    <fieldset class="rating">
                                        <input type="radio" id="star5" name="rating" value="5" />
                                        <label for="star5">5 stars</label>
                                        <input type="radio" id="star4" name="rating" value="4" />
                                        <label for="star4">4 stars</label>
                                        <input type="radio" id="star3" name="rating" value="3" />
                                        <label for="star3">3 stars</label>
                                        <input type="radio" id="star2" name="rating" value="2" />
                                        <label for="star2">2 stars</label>
                                        <input type="radio" id="star1" name="rating" value="1" />
                                        <label for="star1">1 star</label>
                                    </fieldset>
                                   
                                </div>
                                <textarea name="reviewText" placeholder="Your Review"></textarea>
                                @if (userId != null)
                                {
                                    <button type="submit">Submit Now</button>
                                }
                            </div>
                            else
                            {
                            <button type="submit" disabled>Submit Now</button>

                            }
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="room-booking">
                    <h3>Your Reservation</h3>
                    <form asp-action="BookRoom">
                        <input name="roomId" value="@Model.Roomid" hidden>

                        <div class="check-date">
                            <label for="date-in">Check In:</label>
                            <input type="text" class="date-input" id="date-in" name="checkIn">
                            <i class="icon_calendar"></i>
                        </div>
                        <div class="check-date">
                            <label for="date-out">Check Out:</label>
                            <input type="text" class="date-input" id="date-out" name="checkOut">
                            <i class="icon_calendar"></i>
                        </div>
                        <div class="select-option">
                            <label for="numOfPersons">Number Of Persons:</label>
                            <select name="numOfPersons" id="numOfPersons">
                                <option value="2">2 Adults</option>
                                <option value="3">3 Adults</option>
                            </select>
                        </div>

                        @if (userId != null)
                        {
                            <button type="submit">Book Now</button>
                            <button asp-action="UserBookings" asp-controller="Home" type="submit">Save and pay later</button>


                        }
                        else
                        {
                            <button disabled type="submit">Book Now</button>

                        }
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Room Details Section End -->
