@model IEnumerable<BookingSystem.Models.Testimonial>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1 class="text-primary">Testimonials</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Reviewtext)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Room)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Count() == 0)
        {
            <tr>
                <td colspan="4">No data yet</td>
            </tr>
        }
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Reviewtext)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Roomid)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Customerid)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rating)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @if (item.Status.Equals(SD.Testimonial_Pending))
                    {
                        <a asp-action="ManageStatus" asp-route-id="@item.Testimonialid" asp-route-isApproved="@true">Approve</a>
                        <span>|</span>
                        <a asp-action="ManageStatus" asp-route-id="@item.Testimonialid" asp-route-isApproved="@false">Reject</a>

                    }

                </td>
            </tr>
        }
    </tbody>
</table>
