@model IEnumerable<RoomRating>

@{
    ViewData["Title"] = "RoomsRating";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    var roleId = Context.Session.GetInt32("RoleId");

}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
@if (roleId.Equals(2))
{
 
<h1 class="text-primary">RoomsRating</h1>
<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Rooms Average Rating</h4>

            <table class="table table-striped mb-4">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.RoomId)
                        </th>
                        <th>
                            Avearge Rating
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.RoomType)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.HotelName)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.RoomId)
                            </td>
                            <td>
                                @for (int i = 1; i <= item.Rating; i++)
                                {
                                    <i class="mdi mdi-star" style="color:gold"></i>
                                }
                                @for (int i = 1; i <= (5 - item.Rating); i++)
                                {
                                    <i class="mdi mdi-star-outline"></i>
                                }
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.RoomType)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.HotelName)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <canvas id="roomChart" style="width:100%;max-width:600px"></canvas>
            </div>
        </div>
    </div>


    </div>

}
else
{
    <h2 class="text-danger text-center">Admin Should Login</h2>

}

<script>
    var xValues = [];
    var yValues = [];
    var barColors = ["red", "green", "blue", "orange", "brown"];

    @foreach (var d in Model)
    {
        @:xValues.push(@d.RoomId);
        @:yValues.push(@d.Rating);

    }

        yValues.push(0);
    console.log(xValues);
    console.log(yValues);
    new Chart("roomChart", {
        type: "horizontalBar",
        data: {
            labels: xValues,
            datasets: [{
                backgroundColor: barColors,
                data: yValues
            }]
        },
        options: {
            legend: { display: false },
            title: {
                display: true,
                text: "Rooms Rating"
            },
           
        }
    });
</script>

