@model IEnumerable<Booking>

@{
    Layout = null;
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    var months = ViewBag.Months;
    var years = ViewBag.Years;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>
        Report
    </title>
    <link href="https://cdn.datatables.net/1.11.1/css/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/buttons/2.0.0/css/buttons.dataTables.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.5/jspdf.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>
    
</head>
<body>
    <div id="content">
        <h1 class="text-primary mb-4">Benefits Report</h1>

        <div class="row mb-4">
            <div class="col-4 ">
                <form asp-action="BenefitsReport" method="post">
                    <input type="date" class="form-control w-75" name="startDate" placeholder="Start Date">
                    <input type="date" class="form-control w-75 w mt-2" name="endDate" placeholder="End Date">
                    <button type="submit" class="btn btn-primary w-75 mt-2">Search</button>

                </form>
            </div>
            <div class="col-4 ">
                <form asp-action="BenefitsReport" method="post">
                    <select class="form-control w-75" name="month">
                        <option value="">Month</option>
                        <option value="01">Jan</option>
                        <option value="02">Feb</option>
                        <option value="03">Mar</option>
                        <option value="04">Apr</option>
                        <option value="05">May</option>
                        <option value="06">Jun</option>
                        <option value="07">Jul</option>
                        <option value="08">Aug</option>
                        <option value="09">Sep</option>
                        <option value="10">Oct</option>
                        <option value="11">Nov</option>
                        <option value="12">Dec</option>
                    </select>
                    <button type="submit" class="btn btn-primary w-75 mt-2">Search by month</button>

                </form>
            </div>
            <div class="col-4 ">
                <form asp-action="BenefitsReport" method="post">
                    <select class="form-control w-75" name="year">
                        <option value="2024">2024</option>
                        <option value="2023">2023</option>
                        <option value="2022">2022</option>
                        <option value="2021">2021</option>
                        <option value="2020">2020</option>
                        <option value="2019">2010</option>

                    </select>
                    <button type="submit" class="btn btn-primary w-75 mt-2">Search by year</button>

                </form>
            </div>
        </div>
        <table class="table table-striped table-borderless mt-3" id="searchTable">
        <thead>
            <tr>
                <th>Booking Id</th>
                <th>First Name</th>
                <th>Check in Date</th>
                <th>Check out Date</th>
                <th>Number of persons</th>
                <th>Status</th>
                <th>Room id</th>
                <th>Room type</th>
                <th>Price per day</th>
                <th>Total Price</th>



            </tr>
        </thead>
        <tbody>
            @if (Model.Count() == 0)
            {
                <tr>
                    <td colspan="10">No data yet</td>
                </tr>
            }
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Bookingid)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Customer.Firstname)
                    </td>
                    <td>
                        @item.Checkin?.ToString("dd MMMM yyyy")
                    </td>
                    <td>
                        @item.Checkout?.ToString("dd MMMM yyyy")
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Numberofpersons)
                    </td>
                    <td>
                            @if (item.Status.Equals(SD.BookingStatus_Pending))
                            {
                                <label class="badge badge-warning"> @Html.DisplayFor(modelItem => item.Status)</label>

                            }
                            @if (item.Status.Equals(SD.BookingStatus_Confirmed))
                            {
                                <label class="badge badge-success"> @Html.DisplayFor(modelItem => item.Status)</label>

                            }
                            @if (item.Status.Equals(SD.BookingStatus_Cancelled))
                            {
                                <label class="badge badge-danger"> @Html.DisplayFor(modelItem => item.Status)</label>

                            }
                            @if (item.Status.Equals(SD.BookingStatus_CheckedOut) || item.Status.Equals(SD.BookingStatus_CheckedIn))
                            {
                                <label class="badge badge-info"> @Html.DisplayFor(modelItem => item.Status)</label>

                            }

                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Roomid)

                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Room.Roomtype)

                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Room.Price)

                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Totalprice)

                    </td>


                </tr>
            }
          
        </tbody>
        <tfoot>
            <tr>
                <td>Benefits : @ViewBag.Benefit JOD</td>
            </tr> 
          @*   <tr>
                <td>
                    <canvas id="myChart" style="width:100%;max-width:600px"></canvas>

                </td>
            </tr> *@
        </tfoot>
    </table>
    </div>
    <div class="row">
        <div class="col-lg-6 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <canvas id="monthsChart" style="width:100%;max-width:600px"></canvas>
                </div>
            </div>
        </div>
        <div class="col-lg-6 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <canvas id="yearsChart" style="width:100%;max-width:600px"></canvas>

                </div>
            </div>
        </div>
      
    </div>
       


    
   
    <button onclick="saveAsPDF();">save charts as pdf</button>
    @* generate pdf for charts *@
    <script>
        
        function saveAsPDF() {
            const canvas1 = document.getElementById("monthsChart");
            const canvasImage1 = canvas1.toDataURL('image1/jpeg', 1.0);

            const canvas2 = document.getElementById("yearsChart");
            const canvasImage2 = canvas2.toDataURL('image2/jpeg', 1.0);



            let pdf = new jsPDF();
          
            pdf.setFontSize(20);
            pdf.addImage(canvasImage1,'JPEG',30,30,150,70);
            pdf.addImage(canvasImage2, 'JPEG', 30, 120, 150, 70);

            pdf.text(15, 15, "Benefits chart");
            pdf.save('test.pdf');

        }
    </script>

 
    @* months chart *@
    <script>
        
        var xValues = [];
        var yValues = [];
        var barColors = ["red", "green", "blue", "orange", "brown"];
       
        @foreach (var d in months)
        {
            @:xValues.push(@d.month);
            @:yValues.push(@d.count);

        }
       
        yValues.push(0);
        console.log(xValues);
        console.log(yValues);

        new Chart("monthsChart", {
            type: "bar",
            data: {
                labels: xValues,
                datasets: [{
                    backgroundColor: barColors,
                    data: yValues
                }]
            },
            options: {
                legend: { display: false },
                title: {
                    display: true,
                    text: "Months Report"
                }
            }
        });
    </script>

    @* years chart *@
    <script>

        var xValues = [];
        var yValues = [];
        var barColors = ["orange", "green", "blue", "red", "brown"];

        @foreach (var d in years)
        {
            @:xValues.push(@d.year);
            @:yValues.push(@d.count);

        }
            yValues.push(0);
        console.log(xValues);
        console.log(yValues);

        new Chart("yearsChart", {
            type: "bar",
            data: {
                labels: xValues,
                datasets: [{
                    backgroundColor: barColors,
                    data: yValues
                }]
            },
            options: {
                legend: { display: false },
                title: {
                    display: true,
                    text: "Years Report"
                }
            }
        });
    </script>

    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.11.1/js/jquery.dataTables.min.js" defer></script>

    <script src="https://cdn.datatables.net/buttons/2.0.0/js/dataTables.buttons.min.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.0.0/js/buttons.html5.min.js" defer></script>
    <script>
        $(document).ready(function () {
            $('#searchTable').DataTable({

                dom: 'Bfrtip',
                buttons: [
                    { extend: 'copyHtml5', footer: true },
                    { extend: 'excelHtml5', footer: true },
                    { extend: 'csvHtml5', footer: true },
                    {
                        extend: 'pdfHtml5', footer: true, exportOptions: {
                            stripNewlines: false
                        }
                    }
                ]
            });
        });
    </script>
    
</body>
</html>
