@model IEnumerable<Booking>

@{
    Layout = null;
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    var roleId = Context.Session.GetInt32("RoleId");

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Search</title>
    <link href="https://cdn.datatables.net/1.11.1/css/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/buttons/2.0.0/css/buttons.dataTables.min.css" rel="stylesheet" />
</head>
<body>
    @if (roleId.Equals(2))
    {

 <h1 class="text-primary mb-4">Bookings</h1>

    <div class="row mb-4">
        <div class="col-4 ">
            <form asp-action="Search" method="post">
                <input type="date" class="form-control w-75"  name="startDate" placeholder="Start Date">
                <input type="date" class="form-control w-75 w mt-2" name="endDate" placeholder="End Date">
                <button type="submit" class="btn btn-primary w-75 mt-2">Search</button>

            </form>
        </div>
     
    </div>
    <table class="table table-striped table-borderless table-hover mt-3" id="searchTable">
        <thead>
            <tr>
                <th>Book Id</th>
                <th>First Name</th>
                <th>Check in Date</th>
                <th>Check out Date</th>
                    <th>Booking Date</th>
                <th>Num of persons</th>
                <th>Status</th>
                <th>Room id</th>
                <th>Price/day</th>
                <th>Total Price</th>
                <th></th>
                <th></th>

            </tr>
        </thead>
        <tbody>
            @if (Model.Count() == 0)
            {
                <tr>
                    <td colspan="10">No data yet</td>
                </tr>
            }
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.Bookingid
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Customer.Firstname)
                    </td>
                    <td>
                        @item.Checkin?.ToString("dd MMMM yyyy")
                    </td>
                    <td>
                        @item.Checkout?.ToString("dd MMMM yyyy")
                    </td>
                        <td>
                            @item.BookDate?.ToString("dd MMMM yyyy")
                        </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Numberofpersons)
                    </td>
                    <td>
                            <label class="@Html.BookingStatus(item.Status)">
                                @Html.DisplayFor(modelItem => item.Status)
                            </label>

                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Roomid)

                    </td>
                   
                    <td>
                        @Html.DisplayFor(modelItem => item.Room.Price)

                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Totalprice)

                    </td>
                    @if (item.Status.Equals(SD.BookingStatus_Confirmed))
                    {
                         <td>
                        <a class="btn btn-info" asp-controller="Bookings" asp-action="CheckOut" asp-route-bookingId="@item.Bookingid">Check Out</a>
                    </td>
                    }
                    @if (item.Status.Equals(SD.Testimonial_Pending))
                    {
                        <td>
                            <a class="btn btn-danger" asp-controller="Bookings" asp-action="Cancel" asp-route-bookingId="@item.Bookingid">Cancel</a>

                        </td>
                    }
                   


                </tr>
            }

        </tbody>
    </table>

    }
    else
    {
        <h2 class="text-danger text-center">Admin Should Login</h2>

    }
   

    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.11.1/js/jquery.dataTables.min.js" defer></script>

    <script src="https://cdn.datatables.net/buttons/2.0.0/js/dataTables.buttons.min.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.0.0/js/buttons.html5.min.js" defer></script>
    <script>
        $(document).ready(function () {
            $('#searchTable').DataTable({
                dom: 'Bfrtip',
                buttons: [
                    'copyHtml5',
                    'excelHtml5',
                    'csvHtml5',
                    'pdfHtml5'
                ]
            });
        });
    </script>
</body>
</html>
