@model BookingSystem.Models.Review

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1 class="text-primary">Review Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rdate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rdate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rtext)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rtext)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Username)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Username)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Useremail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Useremail)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
