@model IEnumerable<BookingSystem.Models.Hotel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1 class="text-primary">Hotels</h1>

<p>
    <a asp-action="Create">Add New Hotel</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Country)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phonenumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageFile)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                    @item.Address.Substring(0,10)
            </td>
            <td>
                    @item.Email.Substring(0, 20)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phonenumber)
            </td>
            <td>
                @item.Description.Substring(0,20)
            </td>
            <td>
                    <img src=@Url.Content("~/Images/Hotel/" + item.Imagepath) asp-append-version="true" style="border-radius:20%;" width="100" height="100" />

            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Hotelid">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Hotelid">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Hotelid">Delete</a> |
                    <a asp-action="Index" asp-controller="Rooms" asp-route-hotelId="@item.Hotelid">Rooms</a>

            </td>
        </tr>
}
    </tbody>
</table>
