@model Tuple<IEnumerable<HotelRooms>, IEnumerable<HotelRooms>>
@{
    ViewData["Title"] = "Admin Dashboard";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    var months = ViewBag.Months;
    var years = ViewBag.Years;
 
}



<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>
        Admin Dashboard
    </title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
</head>
<body>

<div class="row">
    <div class="col-md-12">
      
        <div class="tab-content tab-transparent-content">
            <div class="tab-pane fade show active" id="business-1" role="tabpanel" aria-labelledby="business-tab">
                <div class="row">
                    <div class="col-xl-3 col-lg-6 col-sm-6 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body text-center">
                               
                                <h2 class="mb-4 text-dark font-weight-bold">Number of registered users</h2>
                                <i class="mdi mdi-account icon-md text-primary mt-3 mb-2"></i> 
                                <h3 class="mb-0 font-weight-bold text-dark">@ViewBag.NumOfRegisteredUsers</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-sm-6 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body text-center">

                                <h2 class="mb-4 text-dark font-weight-bold">Number of hotels</h2>
                                <i class="mdi mdi-account icon-md text-primary mt-3 mb-2"></i>
                                <h3 class="mb-0 font-weight-bold text-dark">@ViewBag.NumOfHotels</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-sm-6 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body text-center">

                                <h2 class="mb-4 text-dark font-weight-bold">New Testimonials</h2>
                                <i class="mdi mdi-account icon-md text-primary mt-3 mb-2"></i>
                                <h3 class="mb-0 font-weight-bold text-dark">@ViewBag.NewTestimonials</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                <div class="col-lg-6 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Available Rooms</h4>

                                <table class="table table-hover">
                                <thead>
                                    <tr>
                                                <th>Hotel Id</th>

                                        <th>Hotel Name</th>
                                        <th>Available Rooms</th>
                                        
                                    </tr>
                                </thead>
                                <tbody>
                                        @if (Model.Item1.Count() == 0)
                                        {
                                            <tr>
                                                <td colspan="2">No data yet</td>
                                            </tr>
                                        }
                                    @foreach(var item in Model.Item1){
                                    <tr>
                                                    <td>@item.Id</td>

                                        <td>@item.HotelName</td>

                                                <td>
                                                    <label class="badge badge-success"> @item.NumOfRooms</label>

                                                </td>
                                       
                                    </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Booked Rooms</h4>

                                <table class="table table-hover">
                                <thead>
                                    <tr>
                                                <th>Hotel Id</th>

                                        <th>Hotel Name</th>
                                        <th>Booked Rooms</th>

                                    </tr>
                                </thead>
                                <tbody>
                                        @if (Model.Item2.Count() == 0)
                                        {
                                            <tr>
                                                <td colspan="2">No data yet</td>
                                            </tr>
                                        }
                                    @foreach (var item in Model.Item2)
                                    {
                                        <tr>
                                                    <td>@item.Id</td>

                                            <td>@item.HotelName</td>

                                                <td >
                                                    <label class="badge badge-danger"> @item.NumOfRooms</label>

                                                </td>

                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                    <canvas id="availableRoomChart" style="width:100%;max-width:600px"></canvas>
                            </div>
                        </div>
                    </div>
                        <div class="col-lg-6 grid-margin stretch-card">
                            <div class="card">
                                <div class="card-body">
                                    <canvas id="bookedRoomChart" style="width:100%;max-width:600px"></canvas>
                                </div>
                            </div>
                        </div>

                </div>
            </div>
        </div>
    </div>
</div>

    <script>

        var xValues = [];
        var yValues = [];
        var barColors = ["red", "green", "blue", "orange", "brown"];


        @foreach (var x in Model.Item1)
        {
            @:xValues.push(@x.Id);
            @:yValues.push(@x.NumOfRooms);

        }

            yValues.push(0);

            new Chart("availableRoomChart", {
            type: "pie",
            data: {
                labels: xValues,
                datasets: [{
                    backgroundColor: barColors,
                    data: yValues
                }]
            },
            options: {
                legend: { display: false },
                title: {
                    display: true,
                    text: "Available Rooms"
                }
            }
        });
    </script>
    <script>

        var xValues = [];
        var yValues = [];
        var barColors = ["brown", "green", "blue", "orange", "red"];


        @foreach (var x in Model.Item2)
        {
            @:xValues.push(@x.Id);
            @:yValues.push(@x.NumOfRooms);

        }

            yValues.push(0);

        new Chart("bookedRoomChart", {
            type: "pie",
            data: {
                labels: xValues,
                datasets: [{
                    backgroundColor: barColors,
                    data: yValues
                }]
            },
            options: {
                legend: { display: false },
                title: {
                    display: true,
                    text: "Booked Rooms"
                }
            }
        });
    </script>

</body>
</html>
